{% load static %}

<nav class="navbar">
    <div class="logo">B U D G E T L Y</div>
    <div class="hamburger-menu" onclick="toggleMenu()">
        <img src="{% static 'expenses/images/hamburger.svg' %}" class="nav-menu-img">
    </div>
    <div class="nav-links" id="navLinks">
        <a href="#" class="close-nav" onclick="toggleMenu()">×</a>
        <a href="{% url 'expenses:expense_list' %}">Home</a>
        <a href="{% url 'expenses:transactions' %}">Transactions</a>
        <a href="{% url 'expenses:reports' %}">Reports</a>
        <a href="{% url 'expenses:profile' %}">Profile</a>
        <a href="#">Daily Spending Limit</a>
        <a href="{% url 'expenses:login' %}" class="logout">Logout</a>
    </div>
</nav>
<!-- Sub-navigation menu -->
<div class="sub-nav">
    <a href="{% url 'expenses:expense_list' %}" {% if request.resolver_match.url_name == 'expense_list' %}class="active"{% endif %}>Category</a>
    <a href="{% url 'expenses:transactions' %}" {% if request.resolver_match.url_name == 'transactions' %}class="active"{% endif %}>Transactions</a>
    <a href="{% url 'expenses:reports' %}" {% if request.resolver_match.url_name == 'reports' %}class="active"{% endif %}>Reports</a>
  </div>
  
<script>
    function toggleMenu() {
        var navLinks = document.getElementById("navLinks");
        if (navLinks.style.display === "block") {
            navLinks.style.display = "none";
        } else {
            navLinks.style.display = "block";
        }
    }
</script>
