{% extends "../base/base.html" %}
{% load static %}
{% block template %}
{% include "../base/navbar.html" %}
<h1 class="page-header-title">Your Categories</h1>
<hr class="category-horizontal-rule">
<div class="new-category-button-container">
    <a href="#" class="new-category-button-link">
        <p class="new-category-button">Add New Category</p>
    </a>
</div>

<div class="category-card-container">
    <div class="category-card-top-section">
        <p class="category-card-title-text">Category Title</p>
        <a href="#">
            <img src="{% static 'expenses/images/trash.svg' %}">
        </a>
    </div>
    <div class="category-card-table-info">

    </div>
    <div class="category-card-bottom-section">
        <div class="category-add-item-button-container">
            <a href="#" class="category-add-item-button-link">
                <p class="category-add-item-button-text">Add Item</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}
