<!DOCTYPE html>
<html>
<head>
    <title>Category</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Category</h1>
    <ul>
        {% for expense in expenses %}
            <li class="form-control">{{ expense.amount }}</li>
            <li class="form-control">{{ expense.category }} </li>
            <li class="form-control">{{ expense.description }} </li>
            <li class="form-control">{{ expense.date }} </li>
        {% endfor %}
    </ul>
</body>
</html>