{% extends "../base/base.html" %}
{% csrf_token %}
{% load static %}
{% block template %}

<!--CODE HERE-->
<!--NAVBAR-->
<nav class="navbar">
    <div class="logo">B U D G E T L Y</div>
    <div class="hamburger-menu" onclick="toggleMenu()">
        <img src="{% static 'expenses/images/hamburger.svg' %}" class="nav-menu-img">
    </div>
    <div class="nav-links" id="navLinks">
        <a href="#" class="close-nav" onclick="toggleMenu()">×</a>
        <a href="#">Budget</a>
        <a href="{% url 'transactions' %}">Transactions</a>
        <a href="{% url 'reports' %}">Reports</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="#">Link Bank Account</a>
        <a href="#">Daily Spending Limit</a>
        <a href="{% url 'logout' %}" class="logout">Logout</a>
    </div>
</nav>

<script>
    function toggleMenu() {
        var navLinks = document.getElementById("navLinks");
        if (navLinks.style.display === "block") {
            navLinks.style.display = "none";
        } else {
            navLinks.style.display = "block";
        }
    }
</script>

<!--PROFILE IMAGE-->


{% if request.user.is_authenticated %}
<div style="  display: flex;
justify-content: center;
align-items: center; margin-top: 3rem; ">
<img src="{% static 'expenses/images/default.png' %}" alt="Default Image" style="width: 150px; height: 150px; "
   ></div>
{%endif%}
   {% if request.user.is_authenticated %}
<div class="" style="  display: flex;
justify-content: center;
align-items: center; margin-top: 3rem; "><h1>User: {{request.user}}  </h1></div>
{% else %}
<a href="{% url 'login' %}"><h1 style="  display: flex;
    justify-content: center;
    align-items: center; margin-top: 3rem; ">login</h1></a>
{% endif %}

{% if request.user.is_authenticated %}
<!--EDIT PROFILE BUTTON-->
<div class="new-category-button-container">
    <a href="#" class="new-category-button-link">
        <p class="new-category-button">Edit Profile</p>
    </a>
</div>


<!--TRANSACTIONS-->
<div class="">
    <h2 class="" style="color: white; margin-left: 2rem; ">Transaction History</h2>
 
    <div class="transaction-card-container">
    <div class="transactions-table">
        <div class="transactions-table-header">
            <div class="table-cell">Date</div>
            <div class="table-cell">Description</div>
            <div class="table-cell">Category</div>
            <div class="table-cell">Amount</div>
            
        </div>
        <hr class="horizontal-rule">
        {% for transaction in transactions %}
       
        <div class="transaction-row">
            <div class="table-cell">{{ transaction.date|date:"d/m/Y" }}</div>
            <div class="table-cell">{{ transaction.description }}</div>
            <div class="table-cell">{{ transaction.category.name }}</div>
            <div class="table-cell">${{ transaction.amount }}</div>
        </div>
       
        {% empty %}
        <div class="transaction-row">
            <div class="table-cell" colspan="4">No transactions to show.</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>


<div class="transaction-card-container">

    <div style="  display: flex;
    justify-content: space-between;">
    <h2 style="margin-left: 1rem;">Banking Information</h2>

    <img src="{% static 'expenses/images/right-arrow.png' %}" alt="Default Image" style="width:40px; height: 40px; margin-top:1rem; margin-right:1rem; "
    >
  
</div>
</div>

<div class="transaction-card-container">

    <div style="  display: flex;
    justify-content: space-between;">
    <h2 style="margin-left: 1rem;">Security</h2>

    <img src="{% static 'expenses/images/right-arrow.png' %}" alt="Default Image" style="width:40px; height: 40px; margin-top:1rem; margin-right:1rem; "
    >
  
</div>
</div>

<div class="transaction-card-container">

    <div style="  display: flex;
    justify-content: space-between;">
    <h2 style="margin-left: 1rem;">Support</h2>

    <img src="{% static 'expenses/images/right-arrow.png' %}" alt="Default Image" style="width:40px; height: 40px; margin-top:1rem; margin-right:1rem;  "
    >
  
</div>
</div>

<!--LOGOUT BUTTON-->

    <div class="category-add-item-button-container" style=" margin-top: 2rem; ">
        <a href="#" class="category-add-item-button-link">
            <p class="category-add-item-button-text">Log Out</p>
        </a>
    </div>
    {% endif %}
{% endblock %}

